<ion-header>
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label> Equipo 1</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> goles 1</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Equipo 2</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> goles 2</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>
  <ion-button (click)="  crearNuevoResultado()">
    CREAR
  </ion-button>
</ion-content>