<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sitios Turisticos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="5">
        <ion-button (click)="addNew()" id="open-modal" expand="block"> Añadir nuevo
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col *ngIf="newEquipo">
        <ion-item>
          <ion-label position="floating">
            Nombre:
          </ion-label>
          <ion-input [(ngModel)]="newEquipo.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Detalles:
          </ion-label>
          <ion-input [(ngModel)]="newEquipo.posicion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Tipo de sitio:</ion-label>
          <ion-select [(ngModel)]="newEquipo.pais" value="brown" placeholder="Tipo de sitio">
            <ion-select-option *ngFor="let sitio of sitios" [value]="pais">{{sitio}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item (click)="addDirection()">
          <ion-label class="floating">
            Ubicación
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>




        <ion-button expand="full" (click)="guardar()">
          Guardar
        </ion-button>
      </ion-col>

    </ion-row> -->

    <ion-row *ngFor="let equipo of equipos">
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>{{equipo.nombre}}</ion-label>
          </ion-item>

          <ion-card-content>
            {{equipo.posicion}}
          </ion-card-content>
          <ion-item>
            <ion-buttons slot="end">
              <ion-button (click)="editar(equipo)">
                <ion-icon name="create">
                </ion-icon>
              </ion-button>
              <ion-button (click)="eliminar(equipo)">
                <ion-icon color="danger" name="trash">
                </ion-icon>
              </ion-button>
              <ion-button href="https://www.google.com/maps/@{{equipo.ubicacion.lat}},{{equipo.ubicacion.lng}},16z"
                (click)="showMap()">
                <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle aaaaa</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card> -->



  </ion-grid>
  <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-row>
          <ion-col *ngIf="newEquipo">
            <ion-item>
              <ion-label position="floating">
                Nombre:
              </ion-label>
              <ion-input [(ngModel)]="newEquipo.nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                Detalles:
              </ion-label>
              <ion-input [(ngModel)]="newEquipo.posicion"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Tipo de sitio:</ion-label>
              <ion-select [(ngModel)]="newEquipo.pais" value="brown" placeholder="Tipo de sitio">
                <ion-select-option *ngFor="let sitio of sitios" [value]="pais">{{sitio}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item (click)="addDirection()">
              <ion-label class="floating">
                Ubicación
              </ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>




            <ion-button expand="full" (click)="guardar(); modal.dismiss()">
              Guardar
            </ion-button>
          </ion-col>

        </ion-row>

      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>



<!-- <ion-item *ngFor="let item of items; trackBy:trackItems">
      <ion-label>{{ item.value }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let estudiante of estudiantes; trackBy:trackItems">
      <ion-label>{{ estudiante.nombre }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let resultado of resultados; trackBy:trackItems">
      <ion-label>{{ resultado.equipo1.nombre }}</ion-label>
      <ion-label>{{ resultado.equipo1.goles }}</ion-label>

      <h1>{{resultado.equipo2.nombre}}</h1>
      <h1>{{resultado.equipo2.goles}}</h1>

    </ion-item>

    <ion-item *ngFor="let iglesia of iglesias; trackBy:trackItems">
      <ion-label>{{ iglesia.equipo1.nombre }}</ion-label>
      <ion-label>{{ iglesia.equipo1.goles }}</ion-label>

      <h1>{{iglesia.equipo2.nombre}}</h1>
      <h1>{{iglesia.equipo2.goles}}</h1>

    </ion-item>
    <strong>Ready to create an app?</strong>
  </div> -->